rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Cada usuário só acessa os próprios dados, em users/{uid}/**
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /{colecao}/{docId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
